{% extends 'base.html' %}
{%  block content %}
<div class="container m                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 t-5">
    <div class="alert alert-success">
        <h2>¡Bienvenido {{ user.username }}!</h2>
        <p>Has iniciado sesión correctamente en el Sistema de Gestión de Reportes.</p>
    </div>
</div>


{%  endblock content %}
